body {
  font-family: Helvetica, Arial, sans-serif;
}

#main {
  height: 100vw;
  top: 0;
  margin-left: 4vw;
  background-color: #ffe77f;
  position: static;
}

#second-box {
  background-color: #fca6ca;
}

#third-box {
  background-color: lightskyblue;
}

#fourth-box {
  background-color: orange;
  padding: 8vw 0 3.4vw 0;
}

#bottom-box {
  background-color: #150e60;
  padding: 8vw 0 3.4vw 0;
}

#bottom-box h3 {
  color: white;
}

#side-nav-bar {
  float: left;
  width: 4vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-content: center;
  z-index: 1;
}

#side-bar-links {
  top: 18%; /*-delete this? */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  display: flex;
  }


section {
  padding: 0;
}

h1 {
  font-family: 'Ceviche One', cursive;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0 auto;
  color: black;
}

h3 {
  font-family: 'Ceviche One', cursive;
  text-transform: uppercase;
  font-size: 4em;
}
