body {
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 0;
}

h1 {
  font-family: Arial, cursive;
  text-transform: uppercase;
  font-size: 5em;
  margin: 0 auto;
  color: black;
}

h3 {
  font-family: Arial, cursive;
  text-transform: uppercase;
  font-size: 4em;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding: 0.3em;
}


#main {
  height: 100vw;
  display: flex;
}

#page-content {
  background-color: #ffe77f;
  width: 100%;
}

/* set minumums for height problem*/

#second-box {
  background-color: #fca6ca;
}

#third-box {
  background-color: lightskyblue;
}

#fourth-box {
  background-color: orange;
  padding: 8vw 0 3.4vw 0;
}

#bottom-box {
  background-color: #150e60;
  padding: 8vw 0 3.4vw 0;
}

#bottom-box h3 {
  color: white;
}

#side-nav-bar {
  float: left;
  width: 4em;
  height: 100vw;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-content: center;
}

#side-bar-links {
  top: 18%; /*-delete this? */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20% 20%;
  }

#main-title {
  padding: 10% 10% 1% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#sub-title {
  padding: 1% 1% 10% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#top-section-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#ext-links-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#freecodecampicon {
  transition: color 0.7s ease;
}

#freecodecampicon:hover {
  color: orange;
}

#githubicon {
  transition: color 0.7s ease;
}

#githubicon:hover {
  color: orange;
}

#codewarsicon {
  transition: color 0.7s ease;
  width: 70px;
  height: 70px;
}

#codewarsicon:hover {
  color: orange;
}


.white {
  color: white;
}
